[package]
name = "paxhtml_macro"
version = "0.1.0"
edition = "2021"

[lib]
proc-macro = true

[dependencies]
convert_case = { workspace = true }
proc-macro2 = { workspace = true }
quote = { workspace = true }
syn = { workspace = true }
paxhtml_parser = { path = "../paxhtml_parser" }
